.sidebar {
    width: 70px;
    height: calc(100vh - 70px);
    background: #151929;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 70px;
    transition: 500ms;
    display: flex;
    justify-content: center;
    color: white;
    z-index: 1;

    .list {
        width: 100%;

        .center-helper {
            display: flex;
            align-items: center;
            height: 100px;
            outline: none;
            position: relative;
            left: 22%;
        }

        .item {
            display: flex;
            cursor: pointer;
            border-bottom: 1px solid rgba(#fff, 0.1);
            outline: none;
            
            img {
                width: 40px;
            }

            span {
                opacity: 0;
                margin-left: 25px;
                transition-delay: 400ms;
                transition-duration: 300ms;
            }
        }
    }
    
    &:hover {
        width: 250px;

        @media only screen and (min-width: 768px) {
            .list .item span {
                opacity: 1;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        left: -255px;
        width: 250px;
        &.open {
            .list .item span {
                opacity: 1;
            }
            left: 0;
        }
    }
}