<div class="sidebar" [ngClass]="{'open': menuService.isMenuOpen()}">
  <div class="list">
    <div class="item" [routerLink]="['/shire']">
      <div class="center-helper">
        <img style="width: 40px" src="/assets/images/hobbit-white.png">
        <span>The Shire</span>
      </div>
    </div>
    <div class="item">
      <div class="center-helper" [routerLink]="['/gondor']">
        <img src="/assets/images/gondor-white.png">
        <span>Gondor</span>
      </div>
    </div>
    <div class="item">
      <div class="center-helper" [routerLink]="['/mordor']">
        <img src="/assets/images/mordor-white.png">
        <span>Mordor</span>
      </div>
    </div>
  </div>
</div>
