/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif;
}

.page-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    .page-img {
        max-width: 300px;
        max-height: 300px;
        margin-top: 3rem;
    }

    .page-text {
        margin-top: 2rem;
        color: black;
        font-size: 1rem;
        font-style: italic;
        font-weight: 100;
        max-width: 50%;
    }
}